$main-color: #1095c5;
$main-color-light: #42b2db;
$main-color-dark: #0f85b0;
$background-color: #e3e3e3;
$font-color: #050505;
$font-color-darker: #1f1f1f;
$border-color: #303030;
$gray: #bbbbbb;
$light-gray: #cccccc;
$dark-gray: #999999;
$comment-color: #c1c1c1;
$scrollbar-thumb-color: #42b2db77;
$scrollbar-track-color: #42b2db11;
