$main-color: #15cb7f;
$main-color-darkest: #15cb7f99;
$main-color-darker: #15cb7fbb;
$background-color: #131313;
$font-color: #f6f6f6;
$font-color-darker: #c9c9c9;
$border-color: #303030;
$comment-color:#15cb7f0c;
