@use './variables';

.comment {
	display: flex;
	flex-direction: row;
	margin: 0.5em 0;
	border-radius: 10px;
	&__image {
		display: flex;
		margin-top: 0.5em;
		.comment__channel-image {
			margin: 0.25em;
			width: 40px;
			height: 40px;
			background-position: center;
			background-size: cover;
			border-radius: 50%;
			cursor: pointer;
			transition: box-shadow 0.3s;
			&:hover {
				box-shadow: 0 0 4px variables.$dark-gray;
			}
		}
	}
	&__body {
		margin: 0.5em;
		&-top-panel {
			display: flex;
			align-items: center;
			margin-bottom: 0.25em;
			.comment__channel-name {
				color: variables.$font-color-darker;
				font-size: 1.3rem;
				cursor: pointer;
				transition: color 0.3s;
				&:hover {
					color: variables.$font-color;
				}
			}
			.icon {
				font-size: 1.2.2rem;
			}
			.comment__date {
				color: variables.$font-color-darker;
				font-size: 1.2rem;
			}
		}
		.comment__text {
			font-size: 1.4rem;
		}
		.comment__buttons {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 0.25em;
			.comment__like-btn,
			.comment__dislike-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0.375em;
				color: variables.$font-color-darker;
				font-size: 1.4rem;
				background: none;
				border: none;
				cursor: pointer;
				.icon {
					font-size: 1.6rem;
				}
			}
			.comment__like-btn {
				margin-right: 0.25em;
				padding-left: 0;
				.icon {
					margin-right: 0.125em;
				}
			}
		}
	}
}
