@use './variables';

.comments {
	background-color: variables.$background-color;
	height: 100%;
	overflow: scroll;
	padding: 0em 0.5em 1em;
	&__topPanel {
		position: sticky;
		top: 0;
		background-color: variables.$background-color;
		padding: 0.5em 0.5em;
		padding-right: 0.75em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid variables.$border-color;
		&-title {
			font-size: 1.8rem;
			font-weight: bold;
			color: variables.$font-color;
			text-transform: uppercase;
		}
		&-button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.375em;
			border: none;
			background: none;
			font-size: 2.4rem;
			color: variables.$font-color;
			cursor: pointer;
		}
	}
	&__button {
		display: block;
		margin: 0 auto;
		padding: 0.4em 1.6em;
		font-size: 1.6rem;
		border: none;
		border-radius: 25px;
		background-color: variables.$font-color-darker;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: variables.$font-color;
		}
	}
}
