@use 'variables';

.feed {
	display: flex;
	flex-direction: column;
	&__videos {
		&-title {
			margin: 0.5em 1em;
			font-size: 1.8rem;
			span {
				color: variables.$main-color;
			}
		}
	}
}

@media (min-width: 576px) {
	.feed {
		&__videos {
			&-title {
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 768px) {
	.feed {
		flex-direction: row;
		&__videos {
			margin-left: 175px;
			&-title {
				font-size: 2.6rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.feed {
		&__videos {
			&-title {
				font-size: 3.2rem;
			}
		}
	}
}
