@use 'variables';

.search-feed {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 0.5em;
	&__title {
		margin: 0.5em 1em;
		margin-left: 0.25em;
		font-size: 1.8rem;
		.search-feed__search-term {
			color: variables.$main-color;
		}
	}
}

@media (min-width: 576px) {
	.search-feed {
		&__title {
			font-size: 2rem;
		}
	}
}

@media (min-width: 768px) {
	.search-feed {
		&__title {
			font-size: 2.6rem;
		}
	}
}

@media (min-width: 992px) {
	.search-feed {
		&__title {
			font-size: 3.2rem;
		}
	}
}
