@use 'variables';

.sidebar {
	display: flex;
	flex-direction: row;
	padding: 0.5em 0;
	background-color: variables.$background-color;
	overflow-x: scroll;
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 28px;
		margin: 0 0.25em;
		padding: 0 1em;
		color: variables.$font-color;
		font-size: 1.4rem;
		background: none;
		border: none;
		border-radius: 10px;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: variables.$main-color;
		}
		&--active {
			background-color: variables.$main-color-light;
		}
		.sidebar__category-icon,
		.sidebar__category-name {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.sidebar__category-icon {
			margin-right: 0.5em;
			transform: scale(1.1);
		}
	}
}

@media (min-width: 768px) {
	.sidebar {
		flex-direction: column;
		padding-right: 1em;
		&__button {
			margin: 0.375em;
			padding: 0.25em 0.5em;
			font-size: 1.6rem;
		}
	}
}
