@use './variables';

.videoDetailDesktopAbout {
	background-color: #333;
	border-radius: 10px;
	padding: 1em;
	&--open {
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: #444;
		}
	}
	&__stats {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 0.5em;
		&-views,
		&-date {
			font-size: 1.6rem;
		}
		&-date {
			margin-left: 0.5em;
		}
	}
	&__description {
		color: variables.$font-color-darker;
		margin: 0.5em 0;
		font-size: 1.6rem;
	}
	&--close {
		.videoDetailDesktopAbout__stats-less {
			border: none;
			background: none;
			color: variables.$font-color;
            font-size: 1.6rem;
            cursor: pointer;
            transition: color .3s;
            &:hover {
                color: variables.$font-color-darker;
            }
		}
	}
}
