@use './variables';

.video-detail-desktop-about {
	padding: 1em;
	background-color: variables.$light-gray;
	border-radius: 10px;
	&--close {
		.video-detail-desktop-about__less-btn {
			color: variables.$font-color;
			font-size: 1.6rem;
			background: none;
			border: none;
			cursor: pointer;
			transition: color 0.3s;
			&:hover {
				color: variables.$font-color-darker;
			}
		}
	}

	&--open {
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: variables.$gray;
		}
	}
	&__stats {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 0.5em;
		.video-detail-desktop-about__views,
		.video-detail-desktop-about__date {
			font-size: 1.6rem;
		}
		.video-detail-desktop-about__date {
			margin-left: 0.5em;
		}
	}
	.video-detail-desktop-about__more {
		font-size: 1.6rem;
	}
	&__description {
		margin: 0.5em 0;
		color: variables.$font-color-darker;
		font-size: 1.6rem;
	}
}
