@use './variables';

.videoDetail {
	position: relative;
	height: calc(100vh - 49px);
	padding: 0 0.5em;
	overflow: scroll;
	&Wrapper {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
	}
	&__video-wrapper {
		margin-top: 0.5em;
		position: relative;
		padding-top: 56.25%;
		.videoDetail__video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__comments-mobile,
	&__about-mobile {
		background-color: variables.$background-color;
		z-index: 1;
		position: fixed;
		top: 49px;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 0;
		opacity: 0;
		transition: opacity 0.3s;
		overflow: scroll;
		&-topPanel {
			position: sticky;
			top: 0;
			background-color: variables.$background-color;
			padding: 0.5em 0.75em;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid variables.$dark-gray;
			&-title {
				font-size: 1.8rem;
				font-weight: bold;
				color: variables.$font-color;
				text-transform: uppercase;
			}
			&-button {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.375em;
				border: none;
				background: none;
				font-size: 2.4rem;
				color: variables.$font-color;
				cursor: pointer;
			}
		}
		&--active {
			opacity: 1;
			height: calc(100vh - 49px);
		}
	}

	&__details {
		margin: 0.5em 0;
		&-title {
			margin: 0.5em 0 0.25em;
			color: variables.$font-color;
			font-size: 1.8rem;
		}
		&-info-mobile {
			display: flex;
			flex-direction: row;
			margin: 0.25em 0;
			cursor: pointer;
			&-views,
			&-date,
			&-more {
				color: variables.$font-color-darker;
				font-weight: lighter;
				margin-right: 0.75em;
				font-size: 1.3rem;
			}
			&-more {
				margin-right: 0;
				font-weight: normal;
			}
		}
		&-channel {
			margin: 1em 0;
			display: flex;
			flex-direction: column;
			&-info {
				display: flex;
				flex-direction: row;
				align-items: center;
				&-image {
					width: 40px;
					height: 40px;
					background-position: center;
					background-size: cover;
					border-radius: 50%;
					margin-right: 0.75em;
					cursor: pointer;
				}
				&-name {
					display: flex;
					flex-direction: row;
					align-items: center;
					cursor: pointer;
					&-title {
						font-size: 1.3rem;
						font-weight: bold;
						margin-right: 0.5em;
					}
					&-subscribers {
						font-size: 1.1rem;
					}
					&-subscribe-button {
						margin-left: auto;
						padding: 0.4em 0.8em;
						border-radius: 20px;
						font-size: 1.6rem;
						border: none;
						background-color: variables.$main-color-light;
						cursor: pointer;
						transition: background-color 0.3s;
						&:hover {
							background-color: variables.$main-color;
						}
					}
				}
			}
			&-buttons {
				display: flex;
				margin-top: 1em;
				overflow-x: scroll;
				&-likes {
					display: flex;
					border-radius: 20px;
					margin: 0 0.25em;
				}
				&-likes-like,
				&-likes-dislike,
				&-share,
				&-download,
				&-save {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.4em 1.2em;
					font-size: 1.4rem;
					border-radius: 20px;
					border: none;
					background-color: variables.$light-gray;
					cursor: pointer;
					transition: background-color 0.3s;
					&:hover {
						background-color: variables.$gray;
					}
					.icon {
						margin-right: 0.25em;
						font-size: 1.8rem;
					}
				}
				&-likes-like {
					border-right: 1px solid variables.$dark-gray;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
				&-likes-dislike {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
				&-share,
				&-download,
				&-save {
					margin: 0 0.25em;
				}
			}
		}
	}

	&__about-desktop {
		display: none;
	}

	&__comments-dekstop {
		display: none;
	}

	&__mobileCommentOpener {
		background-color: variables.$light-gray;
		padding: 1em;
		border-radius: 10px;
		margin-bottom: 1em;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: variables.$gray;
		}
		&-commentCount {
			display: flex;
			align-items: center;
			font-size: 1.4rem;
			font-weight: bold;
			margin-bottom: 0.75em;
			span {
				margin-left: 0.5em;
				font-size: 1.3rem;
				font-weight: normal;
				color: variables.$font-color-darker;
			}
		}
		&-comment {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			&-image {
				width: 35px;
				height: 35px;
				background-position: center;
				background-size: cover;
				border-radius: 50%;
			}
			&-text {
				margin: 0 0.75em;
				width: 75%;
				font-size: 1.2rem;
				color: variables.$font-color-darker;
			}
			.icon {
				font-size: 1.2rem;
			}
		}
	}
}

@media (min-width: 576px) {
	.videoDetail {
		height: calc(100vh - 67px);
		&__comments-mobile,
		&__about-mobile {
			top: 67px;
			&--active {
				height: calc(100vh - 67px);
			}
		}

		&__mobileCommentOpener {
			&-comment {
				&-text {
					width: 85%;
					font-size: 1.3rem;
				}
				.icon {
					font-size: 1.3rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.videoDetail {
		height: calc(100vh - 74px);
		&Wrapper {
			display: grid;
			grid-template-columns: 65% 35%;
		}
		&__mobileCommentOpener,
		&__comments-mobile,
		&__about-mobile {
			display: none;
		}
		&__video-wrapper {
			grid-column: 1/2;
		}
		&__about-desktop {
			display: block;
			grid-column: 1/2;
			margin-bottom: 0.5em;
		}
		&__details {
			grid-column: 1/2;
			&-title {
				margin: 0.75em 0 0.25em;
			}
			&-info-mobile {
				display: none;
			}
		}
		&__comments-dekstop {
			display: block;
			grid-column: 1/2;
			.videoDetail__video {
				position: absolute;
				top: 0;
				left: 0;
				width: 50%;
				height: 100%;
			}
		}
		&__videos {
			margin-left: 0.25em;
			grid-row: 1/6;
			grid-column: 2/3;
		}
	}
}

@media (min-width: 992px) {
	.videoDetail {
		&Wrapper {
			grid-template-columns: 70% 30%;
		}
		&__videos {
			margin-left: 0.5em;
		}
	}
}

@media (min-width: 1200px) {
	.videoDetail {
		&Wrapper {
			grid-template-columns: 1fr 300px;
		}
		&__details {
			&-channel {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				&-info {
					&-image {
						width: 45px;
						height: 45px;
					}
					&-name {
						&-subscribers {
							margin-right: 1em;
						}
					}
				}
				&-buttons {
					margin-top: 0;
				}
			}
		}
		&__videos {
			margin-left: 0.75em;
		}
	}
}
