@use './variables';

.video-detail-mobile-about {
	padding: 0em 0.75em;
	background-color: variables.$background-color;
	&__title {
		margin-top: 1.5em;
		font-weight: bold;
		font-size: 1.7rem;
	}
	&__stats {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 1.5em 0;
		border-bottom: 1px solid variables.$dark-gray;
		.video-detail-mobile-about__stat {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.video-detail-mobile-about__value {
				font-size: 1.4rem;
				font-weight: bold;
			}
			.video-detail-mobile-about__label {
				font-size: 1.2rem;
				color: variables.$font-color-darker;
			}
		}
	}
	&__description {
		padding: 1.5em 0;
		font-size: 1.4rem;
		color: variables.$font-color-darker;
		border-bottom: 1px solid variables.$dark-gray;
	}
	&__channel {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 1.5em 0;
		cursor: pointer;
		&-image {
			margin-right: 1em;
			width: 60px;
			height: 60px;
			background-size: cover;
			background-position: center;
			border-radius: 50%;
			transition: box-shadow 0.3s;
			&:hover {
				box-shadow: 0 0 6px variables.$dark-gray;
			}
		}
		&-info {
			.video-detail-mobile-about__channel-name {
				font-weight: bold;
				font-size: 1.5rem;
			}
			.video-detail-mobile-about__subs {
				font-size: 1.3rem;
				color: variables.$font-color-darker;
			}
		}
	}
}
