@use './variables';

.video-detail {
	position: relative;
	padding: 0 0.5em;
	height: calc(100vh - 49px);
	overflow: scroll;
	&-wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1400px;
	}
	&__video-box {
		position: relative;
		margin-top: 0.5em;
		padding-top: 56.25%;
		.video-detail__video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	&__mobile-comments,
	&__mobile-about {
		position: fixed;
		z-index: 1;
		top: 49px;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 0;
		opacity: 0;
		background-color: variables.$background-color;
		overflow: scroll;
		transition: opacity 0.3s;
		.video-detail__comments-mobile-top,
		.video-detail__about-mobile-top {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			position: sticky;
			top: 0;
			padding: 0.5em 0.75em;
			background-color: variables.$background-color;
			border-bottom: 1px solid variables.$dark-gray;
			.video-detail__about-mobile-title,
			.video-detail__comments-mobile-title {
				font-size: 1.8rem;
				font-weight: bold;
				color: variables.$font-color;
				text-transform: uppercase;
			}
			.video-detail__comments-mobile-close-btn,
			.video-detail__about-mobile-close-btn {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.375em;
				border: none;
				background: none;
				font-size: 2.4rem;
				color: variables.$font-color;
				cursor: pointer;
			}
		}
		&--active {
			height: calc(100vh - 49px);
			opacity: 1;
		}
	}

	&__details {
		margin: 0.5em 0;
		.video-detail__title {
			margin: 0.5em 0 0.25em;
			color: variables.$font-color;
			font-size: 1.8rem;
		}
		.video-detail__mobile-about-opener {
			display: flex;
			flex-direction: row;
			margin: 0.25em 0;
			cursor: pointer;
			.video-detail__views,
			.video-detail__date,
			.video-detail__show-more {
				margin-right: 0.75em;
				color: variables.$font-color-darker;
				font-weight: lighter;
				font-size: 1.3rem;
			}
			.video-detail__show-more {
				margin-right: 0;
				font-weight: normal;
			}
		}
		.video-detail__channel {
			display: flex;
			flex-direction: column;
			margin: 1em 0;
			&-info {
				display: flex;
				flex-direction: row;
				align-items: center;
				.video-detail__channel-image {
					margin-right: 0.75em;
					width: 40px;
					height: 40px;
					background-position: center;
					background-size: cover;
					border-radius: 50%;
					cursor: pointer;
				}
				.video-detail__channel-name {
					display: flex;
					flex-direction: row;
					align-items: center;
					cursor: pointer;
					.video-detail__channel-title {
						margin-right: 0.5em;
						font-size: 1.3rem;
						font-weight: bold;
					}
					.video-detail__channel-subs {
						font-size: 1.1rem;
					}
				}
				.video-detail__subscribe-btn {
					margin-left: auto;
					padding: 0.4em 0.8em;
					border-radius: 20px;
					font-size: 1.6rem;
					border: none;
					background-color: variables.$main-color-light;
					cursor: pointer;
					transition: background-color 0.3s;
					&:hover {
						background-color: variables.$main-color;
					}
				}
			}
			.video-detail__buttons {
				display: flex;
				margin-top: 1em;
				overflow-x: scroll;
				.video-detail__likes {
					display: flex;
					margin: 0 0.25em;
					border-radius: 20px;
				}
				.video-detail__like-btn,
				.video-detail__dislike-btn,
				.video-detail__share-btn,
				.video-detail__download-btn,
				.video-detail__save-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.4em 1.2em;
					font-size: 1.4rem;
					border-radius: 20px;
					border: none;
					background-color: variables.$light-gray;
					cursor: pointer;
					transition: background-color 0.3s;
					&:hover {
						background-color: variables.$gray;
					}
					.icon {
						margin-right: 0.25em;
						font-size: 1.8rem;
					}
				}
				.video-detail__like-btn {
					border-right: 1px solid variables.$dark-gray;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
				.video-detail__dislike-btn {
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
				.video-detail__share-btn,
				.video-detail__download-btn,
				.video-detail__save-btn {
					margin: 0 0.25em;
				}
			}
		}
	}

	&__desktop-about,
	&__desktop-comments {
		display: none;
	}

	&__mobile-comments-opener {
		margin-bottom: 1em;
		padding: 1em;
		background-color: variables.$light-gray;
		border-radius: 10px;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: variables.$gray;
		}
		.video-detail__comments-number {
			display: flex;
			align-items: center;
			margin-bottom: 0.75em;
			font-size: 1.4rem;
			font-weight: bold;
			span {
				margin-left: 0.5em;
				font-size: 1.3rem;
				font-weight: normal;
				color: variables.$font-color-darker;
			}
		}
		.video-detail__first-comment {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			.video-detail__comment-image {
				width: 35px;
				height: 35px;
				background-position: center;
				background-size: cover;
				border-radius: 50%;
			}
			.video-detail__comment-text {
				margin: 0 0.75em;
				width: 80%;
				font-size: 1.2rem;
				color: variables.$font-color-darker;
			}
			.icon {
				font-size: 1.2rem;
			}
		}
	}
}

@media (min-width: 576px) {
	.video-detail {
		height: calc(100vh - 67px);
		&__mobile-comments,
		&__mobile-about {
			top: 67px;
			&--active {
				height: calc(100vh - 67px);
			}
		}

		&__mobile-comments-opener {
			&-comment {
				&-text {
					width: 85%;
					font-size: 1.3rem;
				}
				.icon {
					font-size: 1.3rem;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.video-detail {
		height: calc(100vh - 74px);
		&-wrapper {
			display: grid;
			grid-template-columns: 65% 35%;
		}
		&__mobile-comments-opener,
		&__mobile-comments,
		&__mobile-about {
			display: none;
		}
		&__video-wrapper {
			grid-column: 1/2;
		}
		&__details {
			grid-column: 1/2;
			.video-detail__title {
				margin: 0.75em 0 0.25em;
			}
			.video-detail__mobile-about-opener {
				display: none;
			}
		}
		&__desktop-about {
			display: block;
			grid-column: 1/2;
			margin-bottom: 0.5em;
		}
		&__desktop-comments {
			display: block;
			grid-column: 1/2;
		}
		&__videos {
			margin-left: 0.25em;
			grid-row: 1/6;
			grid-column: 2/3;
		}
	}
}

@media (min-width: 992px) {
	.video-detail {
		&-wrapper {
			grid-template-columns: 70% 30%;
		}
		&__videos {
			margin-left: 0.5em;
		}
	}
}

@media (min-width: 1200px) {
	.video-detail {
		&-wrapper {
			grid-template-columns: 1fr 300px;
		}
		&__details {
			.video-detail__channel {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				&-info {
					.video-detail__channel-image {
						width: 45px;
						height: 45px;
					}
					.video-detail__channel-name {
						.video-detail__channel-subs {
							margin-right: 1em;
						}
					}
				}
				.video-detail__buttons {
					margin-top: 0;
				}
			}
		}
		&__videos {
			margin-left: 0.75em;
		}
	}
}
